@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

* {
  font-family: "Source Code Pro", monospace;
}

.container {
  color: #fff;
  font-size: 5rem;
}
